* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
  --bg-color: #121212;
  --container-bg: #1e1e1e;
  --primary-color: #bb86fc;
  --secondary-color: #03dac6;
  --text-primary: #e1e1e1;
  --text-secondary: #b0b0b0;
  --border-color: #2c2c2c;
  --input-bg: #2c2c2c;
  --shadow-color: rgba(0, 0, 0, 0.3);
}

body {
    font-family: sans-serif;
    background-color: var(--bg-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-primary)
}

.signup-container {
    background-color: var(--container-bg);
    padding: 2.5rem;
    border-radius: 1rem;
    box-shadow: 0 10px 30px var(--shadow-color);
    text-align: center;
    max-width: 400px;
    width: 90%;
    border: 1px solid var(--border-color)

}
/* 9:51:37*/